<section class="container-fluid">
  <!-- <div >
      
      <a class="navbar-brand" href="#" fxFlex  fxLayoutAlign="center center" fxLayout="column"><i class="fa fa-tint">&nbsp;HVA Green Energy </i><small>Your Solar Partner</small></a>
  </div> -->
  <div class="padding__t--narrow">
    <div class="about">
      <h4 class="hva-bg__blue">About Us</h4>
      <p class="text-muted text__justify">
        Hva Green energy deals in solar energy by providing service to residential , small scale and large scale organisation.<br>        We provide a solar solution to apartment, buildings, hotels, hospitals ,Invidial Houses and commercial buildings
        to save cost of their electricity bills.
      </p>
    </div>

    <blockquote class="blockquote">
      <p class="mb-0">Hva Green Energy Private Limited is a Private incorporated on 08 December 2016. </p>
    </blockquote>

    <blockquote class="blockquote">
      <p class="mb-0"> It is classified as Non-govt company and is registered at Registrar of Companies, Delhi.
      </p>
    </blockquote>

    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Vipan Kumar</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Anant Gaurav</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Ms Bhaktawar</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
            longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

    <div class="social padding__t--extra-narrow">
      <h4 class="hva-bg__blue">Contact</h4>
      <ul class="list-unstyled">
        <li><a href="#">Follow on Twitter</a></li>
        <li><a href="#">Like on Facebook</a></li>
        <li><a href="#">Email me</a></li>
      </ul>
    </div>

  </div>

</section>