<app-navbar></app-navbar>

<md-sidenav-container >
  <md-sidenav #sidenav >
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image" style="height:50px;width:50px;">
          <img src="" class="img-circle" alt="">
        </div>
      </div>
    </section>
  </md-sidenav>

  <div class="example-sidenav-content" style="height:90vh;">
    <div class="container content-wrapper" fxLayout="column" fxFill>
      <div fxLayout.gt-xs="row" fxLayout="column"  fxLayoutAlign="space-between center">
        <div>
          <button type="button" class="btn btn-default" md-button (click)="sidenav.open()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          
          
        </div>       
      </div>    
    </div>
  </div>
</md-sidenav-container>
