<div class="navbar navbar-static-top">
    <div class="container-fluid navbar-toggler" data-toggle="collapse" data-target="#navbar-header">
      &#9776;
      <a href="#" class="navbar-brand">Our Evolution with time</a>
    </div>
  </div>
  <div class="navbar-collapse collapse show inverse" id="navbar-header">
    <div class="container">
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">July</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">April</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">March 2017</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Feburary 2017</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">January 2017</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">December 2016</h4>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>