 
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color:rgb(27, 81, 134);">
    <a class="docs-button mat-button">      
        <i class="fa fa-amazon" aria-hidden="true"></i><span >Amazon</span>
    </a>
    <a class="docs-button mat-button">
        <i class="fa fa-apple" aria-hidden="true"></i><span >Apple</span>       
    </a>
    <a class="docs-button mat-button">
        <i class="fa fa-android" aria-hidden="true"></i> <span >Android</span>
    </a>
    <a class="docs-button mat-button">
        <i class="fa fa-github" aria-hidden="true"></i><span>Github </span>
    </a>
  </nav>
 